<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="output.css">

    <title>Home Page</title>
</head>
<body class="bg-gray-100 min-h-screen">
    <header class="bg-blue-600 text-white w-full py-6 text-center shadow-lg">
        <h1 class="text-4xl font-bold tracking-wide">Welcome to Airbnb</h1>
    </header>

    <main class="flex flex-col items-center justify-center mt-8">
        <a href="/register"
            class="px-6 py-3 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 transition duration-300 ease-in-out">
            Go to Register Page
        </a>
    </main>
</body>
</html>